[submodule "Projects/Usagi"]
	path = Projects/Usagi
	url = https://github.com/YukinoHayakawa/Usagi.git
[submodule "Projects/Demos/NuklearDemo"]
	path = Projects/Demos/NuklearDemo
	url = https://github.com/YukinoHayakawa/NuklearDemo.git
[submodule "Projects/Demos/MainLoop"]
	path = Projects/Demos/MainLoop
	url = https://github.com/YukinoHayakawa/MainLoop.git
[submodule "Projects/Demos/ImGuiDemo"]
	path = Projects/Demos/ImGuiDemo
	url = https://github.com/YukinoHayakawa/ImGuiDemo.git
[submodule "Projects/Demos/HelloSwapchain"]
	path = Projects/Demos/HelloSwapchain
	url = https://github.com/YukinoHayakawa/HelloSwapchain.git
[submodule "Projects/Demos/DebugDrawDemo"]
	path = Projects/Demos/DebugDrawDemo
	url = https://github.com/YukinoHayakawa/DebugDrawDemo.git
[submodule "Projects/GalGame/Negi"]
	path = Projects/GalGame/Negi
	url = https://github.com/YukinoHayakawa/Negi.git
[submodule "Projects/GalGame/MLScriptTranslator"]
	path = Projects/GalGame/MLScriptTranslator
	url = https://github.com/YukinoHayakawa/MLScriptTranslator.git
[submodule "Thirdparties/Submodules/utfcpp"]
	path = Thirdparties/Submodules/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "Thirdparties/Submodules/stb"]
	path = Thirdparties/Submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "Thirdparties/Submodules/SPIRV-Cross"]
	path = Thirdparties/Submodules/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Thirdparties/Submodules/spdlog"]
	path = Thirdparties/Submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Thirdparties/Submodules/fmt"]
	path = Thirdparties/Submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Thirdparties/Submodules/glslang"]
	path = Thirdparties/Submodules/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Thirdparties/Submodules/imgui"]
	path = Thirdparties/Submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Thirdparties/Submodules/json"]
	path = Thirdparties/Submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "Thirdparties/Submodules/lua"]
	path = Thirdparties/Submodules/lua
	url = https://github.com/lua/lua.git
[submodule "Thirdparties/Submodules/nuklear"]
	path = Thirdparties/Submodules/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "Thirdparties/Submodules/debug-draw"]
	path = Thirdparties/Submodules/debug-draw
	url = https://github.com/glampert/debug-draw.git
[submodule "Includes/MoeLoop"]
	path = Includes/MoeLoop
	url = https://github.com/YukinoHayakawa/MoeLoop.git
[submodule "Projects/University/GraphLayout"]
	path = Projects/University/GraphLayout
	url = https://github.com/YukinoHayakawa/GraphLayout.git
[submodule "Projects/University/GraphLayoutDemo"]
	path = Projects/University/GraphLayoutDemo
	url = https://github.com/YukinoHayakawa/GraphLayoutDemo.git
[submodule "Projects/Private/Irregulars/Mobius"]
	path = Projects/Private/Irregulars/Mobius
	url = ../Mobius
[submodule "Projects/GalGame/Negibisu"]
	path = Projects/GalGame/Negibisu
	url = https://github.com/YukinoHayakawa/Negibisu.git
[submodule "Thirdparties/Submodules/sol2"]
	path = Thirdparties/Submodules/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Projects/Demos/ECSDemo"]
	path = Projects/Demos/ECSDemo
	url = https://github.com/YukinoHayakawa/ECSDemo.git
[submodule "Thirdparties/Submodules/fontstash"]
	path = Thirdparties/Submodules/fontstash
	url = https://github.com/YukinoHayakawa/fontstash.git
[submodule "Projects/GalGame/NegiECS"]
	path = Projects/GalGame/NegiECS
	url = https://github.com/YukinoHayakawa/NegiECS.git
[submodule "Projects/Private/Irregulars/MobiusECS"]
	path = Projects/Private/Irregulars/MobiusECS
	url = ../MobiusECS.git
[submodule "Thirdparties/Submodules/NtCall64"]
	path = Thirdparties/Submodules/NtCall64
	url = https://github.com/hfiref0x/NtCall64.git
[submodule "Thirdparties/Submodules/portaudio"]
	path = Thirdparties/Submodules/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "Projects/Extensions/Usagi/Extensions/RtPortAudio"]
	path = Projects/Extensions/Usagi/Extensions/RtPortAudio
	url = https://github.com/YukinoHayakawa/RtPortAudio.git
[submodule "Projects/Tests"]
	path = Projects/Tests
	url = https://github.com/YukinoHayakawa/Tests.git
[submodule "Projects/Extensions/Usagi/Extensions/AssetAudioFormats"]
	path = Projects/Extensions/Usagi/Extensions/AssetAudioFormats
	url = https://github.com/YukinoHayakawa/AssetAudioFormats.git
[submodule "Projects/Extensions/Usagi/Extensions/SysBasicAudioMixing"]
	path = Projects/Extensions/Usagi/Extensions/SysBasicAudioMixing
	url = https://github.com/YukinoHayakawa/SysBasicAudioMixing.git
[submodule "Projects/Extensions/Usagi/Extensions/RtVulkan"]
	url = https://github.com/YukinoHayakawa/RtVulkan.git
	path = Projects/Extensions/Usagi/Extensions/RtVulkan
[submodule "Projects/Extensions/Usagi/Extensions/RtWin32"]
	url = "https://github.com/YukinoHayakawa/RtWin32.git"
	path = Projects/Extensions/Usagi/Extensions/RtWin32
[submodule "Projects/Extensions/Usagi/Extensions/RtVulkanWin32WSI"]
	url = https://github.com/YukinoHayakawa/RtVulkanWin32WSI.git
	path = Projects/Extensions/Usagi/Extensions/RtVulkanWin32WSI
[submodule "Projects/Extensions/Usagi/Extensions/SysNuklear"]
	url = https://github.com/YukinoHayakawa/SysNuklear.git
	path = Projects/Extensions/Usagi/Extensions/SysNuklear
[submodule "Projects/Extensions/Usagi/Extensions/SysImGui"]
	url = https://github.com/YukinoHayakawa/SysImGui.git
	path = Projects/Extensions/Usagi/Extensions/SysImGui
[submodule "Projects/Extensions/Usagi/Extensions/SysDebugDraw"]
	url = https://github.com/YukinoHayakawa/SysDebugDraw.git
	path = Projects/Extensions/Usagi/Extensions/SysDebugDraw
[submodule "Projects/Extensions/Usagi/Extensions/SysFontStash"]
	url = https://github.com/YukinoHayakawa/SysFontStash.git
	path = Projects/Extensions/Usagi/Extensions/SysFontStash
